{% extends 'admin/base_site.html' %}
{% block content %}
<h1>Subtipo de Comisión</h1>
<hr/>
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
<li class="active">
<a href="#tipo" data-toggle="tab">Tipo de Comision</a>
</li>
<li>
<a href="#subtipo" data-toggle="tab">Subtipo de Comisión</a>
</li>
<li>
<a href="#generador" data-toggle="tab">Generador</a>
</li>
</ul>
<div class="container-fluid">
<div id="contenido" class="tab-content">
<div class="tab-pane active" id="tipo">
<table class="table-responsive table-bordered table" id="table-tipo_comision">
<thead>
<tr>
<th class="text-center" style="width: 15px;">id</th>
<th>Tipo de Comisión</th>
</tr>
</thead>
<tbody>
{% for foo in tipocomision %}
<tr>
<td class="text-center">{{ foo.id }}</td>
<td>{{ foo.tipoComision }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="tab-pane" id="subtipo">
<table class="table-responsive table-bordered table" id="table-subtipo_comision">
<thead>
<tr>
<th class="text-center">id</th>
<th>Tipo de Cliente</th>
<th>Tipo de Comisión</th>
<th>Subtipo de Comisión</th>
</tr>
</thead>
<tbody>
{% for foo in subtipocomision %}
<tr>
<td class="text-center">{{ foo.id }}</td>
<td>{{ foo.tipoCliente }}</td>
<td>{{ foo.tipoComision }}</td>
<td>{{ foo.subtipoComision }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="tab-pane" id="generador">
<div class="wizard">
<a class="current" href="#w1"><span class="badge">1</span> Datos Generales</a>
<a href="#w2"><span class="badge">2</span> Filtros</a>
<a href="#w3"><span class="badge badge-inverse">3</span> Marca</a>
<a href="#w4"><span class="badge">4</span> Aperturas</a>
<a href="#w5"><span class="badge">5</span> Finalizar</a>
</div>
<div id="w1" class="container-fluid" style="margin-top: 20px;">
<form class="form-inline" novalidate="novalidate">
<div class="form-group">
<label for="id_tipoCliente">Tipo de Cliente: </label>
<select>
<option value="1" selected="selected">Seleccionar...</option>
<option value="10">Tradicional</option>
<option value="20">Supermercados</option>
<option value="40">Industriales</option>
<option value="50">Foodservice</option>
<option value="60">Consumidor</option>
<option value="70">Grandes Clientes</option>
</select>
</div>
</form>
</div>
</div>
</div>
</div>
{% endblock %}
{% block extra_javascript %}
<script src="{{ STATIC_URL }}js/datatable-1.10.3.min.js"></script>
{% endblock %}
{% block extra_script %}
$('#table-tipo_comision').DataTable();
$('#table-subtipo_comision').DataTable();
{% endblock %}